/* *{
    background-color: #FDF7F2;
} */

.page-content {
  max-width: 800px;
  margin: 60px auto;
  padding: 20px;
  text-align: center;
  border: 1px solid black;
  border-radius: 8px;
}

/* .page-content h1{
    background-color: white;
}

.page-content p {
    background-color: white;
    margin: 2px;
} */



