.footer{
    background-color: #7C2E2E;
    color: white;
    padding: 2rem 80px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    font-family: 'Poppins', sans-serif;
}


.footer-nav {
    display: flex;
    gap: 2rem;
    justify-content: center;
    flex-wrap: wrap;
    font-weight: 600;
}

.footer-link {
  color: #ffffff;
  text-decoration: none;
  font-weight: 600;
}

.footer-link:hover {
  color: rgba(213, 211, 213, 0.879);
}



.footer-bottom {
    text-align: center;
    font-size: 0.9rem;
    color: white;
    font-weight: 600;
}

.footer-bottom .creator-name {
    font-weight: 700;
    color: white;
}

.copyright-icon {
  font-size: 0.9rem;
  vertical-align: middle;
}